Let us say your expense for every month are listed below,
January - 2200
February - 2350
March - 2600
April - 2130
May - 2190
Create a list to store these monthly expenses and using that find out,

1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this

In [ ]:
expenses =  [ {
    'jan' : 2200,
    'feb' : 2350,
    'March' : 2600,
    'April' : 2130,
    'May' : 2190
}]

In [20]:
expense =  [2200,2350, 2600,2130, 2190]

In Feb, how many dollars you spent extra compare to January?

In [ ]:
diff_in_expenses = expenses[0]['feb'] - expenses[0]['jan']
diff_in_expenses

150

In [2]:
expense[1]- expense[0]

150

Find out your total expense in first quarter (first three months) of the year.

In [ ]:
first_quarter_expense = expenses[0]['jan'] + expenses[0]['feb'] + expenses[0]['March']
first_quarter_expense

7150

In [4]:
first_quarter_expense = expense[0] + expense[1]+ expense[2]
first_quarter_expense

7150

Find out if you spent exactly 2000 dollars in any month

In [24]:
2000 in expense

False

June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list

In [21]:
expense.insert(5,1980)

In [22]:
expense

[2200, 2350, 2600, 2130, 2190, 1980]

You returned an item that you bought in a month of April and got a refund of 200$. Make a correction to your monthly expense list based on this

In [23]:
expense[3]= expense[3]-200
expense

[2200, 2350, 2600, 1930, 2190, 1980]

You have a list of your favourite marvel super heros.
heros=['spider man','thor','hulk','iron man','captain america']
Using this find out,

1. Length of the list
2. Add 'black panther' at the end of this list
3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'
4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.
5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [42]:
heros=['spider man','thor','hulk','iron man','captain america']

In [43]:
#Length of the list
len(heros)

5

In [44]:
heros.insert(5, 'black panther')

In [45]:
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [46]:
heros.remove('black panther')
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america']

In [47]:
heros.insert(3,'black panther')
heros

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

In [48]:
heros[1:3]=['doctor strange']

In [49]:
heros

['spider man',
 'doctor strange',
 'black panther',
 'iron man',
 'captain america']

In [38]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [50]:
heros.sort()
heros

['black panther',
 'captain america',
 'doctor strange',
 'iron man',
 'spider man']

Create a list of all odd numbers between 1 and a max number. Max number is something you need to take from a user using input() function

In [58]:
odd_numbers = []
max_number = int(input('input any number greater than 1: '))
for number in range(1, max_number+1):
  if number%2 == 1 :
    odd_numbers.append(number)

odd_numbers

input any number greater than 1: 1

[1]